.home
  width 100%
  margin-top 15px
  .warp
    width 1170px
    margin 0 auto
    display flex
    justify-content space-between
    .warp-center
      width 660px
    .right
      width 340px
      height 500px