@import "../../statics/style/common.styl"
.swiper
  width 660px
  height 300px
  .swiper-container
    width 100%
    height 100%
  .banner-img
    width 100%
    height 100%
  .swiper-pagination-bullet-active
     opacity 1
     background #ed4040
  .swiper-item
    position relative
    display inline-block
    width 100%
    height 100%
    .swiper-title
      display block
      position absolute
      left 0
      bottom 0
      font-size 19px
      font-weight bold
      height 40px
      padding-left 20px
      width 100%
      line-height 40px
      box-sizing border-box
      color #fff
      background linear-gradient(-180deg,transparent,rgba(0,0,0,.8))
      no-wrap()

